<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453664964068-g485nt4h3a8n12gcvarssp8bbuob78g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453664964068-g485nt4h3a8n12gcvarssp8bbuob78g3</string>
	<key>API_KEY</key>
	<string>AIzaSyDpU1y10si7D5pvZD8hQCkiCihDReUEMjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>453664964068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.www.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-91c87</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-91c87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453664964068:ios:f194f8a013d6222d40dbf1</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-91c87-default-rtdb.firebaseio.com</string>
</dict>
</plist>